body {
    background-color: rgb(255, 207, 207);
  }
  
  h1 {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(250, 100, 100);
    padding: 10px;
    border-radius: 20px;
  }
  
  ul {
    list-style: none;
    margin: 50px 0;
    padding: 0;
  }
  
  li {
    background-color: rgb(250, 150, 150);
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  li:hover {
    background-color: rgb(250, 100, 100);
  }
  
  li a {
    color: white;
    text-decoration: none;
  }
  
  h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 20px;
    font-style: italic;
    color: rgb(120, 50, 50);
  }
  
  h3 {
    font-size: 24px;
    background-color: rgb(250, 100, 100);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
  }